.containerAboutUs {
    margin-top: 4rem;
    position: relative;
}
.wrapperAboutUs {
    position: relative;
    margin-top: 4rem;
}
.wrapperAboutUs_photo {
    position: absolute !important;
    width: 190px;
}
.wrapperAboutUs_photo:hover {
    cursor: pointer;
}
.photo0 {
    left: -5%;
    top: -10%;
}

.photo1 {
    right: 0%;
    top: 20%;
}

.photo2 {
    left: -5%;
    top: 60%;
}
.employeeInf {
    position: absolute !important;
    left: 35%;
    top: -5%;
    width: 30%;
    text-align: center;
    background-color: rgba(0,0,0,0.98) !important;
    color: white;
}
.containerWhatWeDo {
    margin-top: 5rem;
    padding-top: 4rem;
    background-color: rgba(9,13,0 , 0.15); /*251, 189, 8*/
    font-size: 1.2rem;
}

.jobsCards {
    margin: 2rem 0 !important;
}

.jobsCard {
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    background-color: rgb(39,40,45);
    box-shadow:0 4px 16px 0 rgba(0,0,0,.12);
}

